colored-traceback==0.3.0
colorlog==3.1.0
cycler==0.10.0
Flask==0.12.2
Flask-Compress==1.4.0
Flask-SSE==0.2.1
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
matplotlib==1.5.1
numpy==1.13.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
redis==2.10.6
scipy==1.0.0
six==1.11.0
Werkzeug==0.15.3
